html {
	font-family:"Droid Sans", Helvetica, sans-serif;
}

body {
	margin:32px;
}

svg {
	border:1px solid #000;
}
.subunit {
	fill:#e2e2e2;
	stroke:#fff;
}
.bubble {
	stroke:#fff;
	stroke-width:1px;
}
.line {
	fill:none;
	stroke:#00569A;
	stroke-width:3px;
}
/*
.Gorkha {
	fill:#4A90E2;
}*/
