html {
	font-family:"Droid Sans", Helvetica, sans-serif;
}

body {
	margin:32px;
}

svg {
	border:1px solid #333;
}
svg text {
	font-size:20px;
}
.subunit {

	stroke:#999;
}
.bubble {
	stroke:#fff;
	stroke-width:1px;
}
.line {
	fill:none;
	stroke:#00569A;
	stroke-width:3px;
}
.pin {
	fill:#000;
	stroke:#fff;
}
.pin-marker {
	stroke-width:1px;
}
.pin-hole {
	stroke-width:0;
	stroke:#fff;
	fill:transparent;
}
/*
.Gorkha {
	fill:#4A90E2;
}*/
