html {
	font-family:"Droid Sans", Helvetica, sans-serif;
}

body {
	margin:32px;
}

svg {
	border:1px solid #333;
}
svg text {
	font-size:20px;
}
.subunit {

}
.bubble {
	stroke:#fff;
	stroke-width:1px;
}
.line {
	fill:none;
	stroke:#00569A;
	stroke-width:3px;
}
.pin {
	fill:#000;
	stroke:#fff;
}
.pin-marker {
	stroke-width:1px;
}
.pin-hole {
	stroke-width:0;
	stroke:#fff;
	fill:transparent;
}

.map {
	position:relative;
}

.logo-flowminder {
	position:absolute;
	bottom:70px;
	left:60px;
	width:130px;
	height:auto;
	z-index:1000;
}
.logo-worldpop {
	position:absolute;
	bottom:65px;
	left:210px;
	width:130px;
	height:auto;
	z-index:1000;
}
/*
.Gorkha {
	fill:#4A90E2;
}*/
