<!DOCTYPE html>
<html ng-app="flowminderUtils">
<head>
	<title>Flowminder Utils</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="mainCtrl">

	<script type="text/ng-template" id="map.html">
		<h1>{{ district }}</h1>
	</script>

	<select name="" ng-model="distance" id="" style="position:fixed;top:0;right:0;">
		<option value="0">0</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="20">20</option>
	</select>



	<div class="main" id="main">
		<div distance="distance" data="model['nation']" district="'Overall'" map="mapPromise" districts="dataPromise"></div>
		<div ng-repeat="district in model.districts" distance="distance" allData="model.d" data="model.districtsData[district]" district="district" map="mapPromise" districts="dataPromise"></div>
	</div>

	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/d3/d3.min.js"></script>
	<script src="vendor/topojson/topojson.js"></script>
	<script src="vendor/lodash/lodash.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/mapDirective.js"></script>

</body>
</html>